
header{
  background: #333;
  color: #fff;
  padding:16px;
  
}


.div1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
nav{
  display: flex;
  gap: 20px;



}
nav a{
  color: white;
  text-decoration:underline;
  font-size: 18px;
  font-size: 20px;
}
nav a:hover{
color:white;
opacity: 0.8;
}
.logo{
  font-size: 40px;
  margin-left: 40px;
}
.name{
  display: flex;
  margin-left: 40px;
  color: rgb(50, 50, 50);
  }

.intro{
  color: rgba(128, 128, 128, 0.881);
  margin-left: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
  display: flex;
  gap: 20px;
  

}
.profile-pic{
  width: 350px;
  height: 350px;
  border-radius:10px;
  margin-right: 20px;
  object-fit: cover;

}
.text{

  font-size: 20px;
  line-height: 1.7;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 200;
  margin-top: 80px;
  
}
.who{
  font-size: 30px;
}
.Portfolio{
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}
.line{
  width: 20px;
  height: 600px;
  background-color:rgba(50, 50, 50, 0.867);
  margin-left: 70px;
  margin-top: 20px;
}
.flex {
  display: flex;                 
  justify-content: space-between;
  align-items: center;          
  height: 100vh;                 
  padding: 20px;                
  background-color: #f8f9fa;    
}


.box {
  flex: 1;                       
  margin: 0 10px;                
  background-color: #007bff;    
  color: white;                  
  text-align: center;           
  padding: 20px;                 
  border-radius: 10px;           
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

